<h2>Shopping Cart</h2>
{{#if carts}}
{{#each carts}}

<div id="cartContainer">
    <div class="cartGrid"><a href="/product/profile/{{this.id}}"><img src="/uploads/{{this.productPic}}" alt=""
                id="cartPic"></a></div>
    <div class="cartGrid">{{this.description}}</div>
    <div class="cartGrid">{{this.category}}</div>
    <div class="cartGrid">CDN$ {{this.price}}</div>

</div>

{{/each}}

<input type="submit" value="Place your order" id="submitButton">

{{/if}}

<h2>Your Shopping Cart is empty</h2>