<div id="product-title-board">
    <div id="product-board-title">
        Shopping Cart
    </div>

</div>

<div id="flex-shopping-cart">
    {{#if products}}
    <div id="cartContainer">
        <div class="cartGrid">Product Image</a>
        </div>
        <div class="cartGrid">Description</div>
        <div class="cartGrid">quantity</div>
        <div class="cartGrid">Price</div>
        <div>
            Modify
        </div>
    </div>

    {{#each products}}
    <div id="cartContainer">
        <div class="cartGrid"><a href="/product/profile/{{this.item._id}}"><img src="/uploads/{{this.item.productPic}}"
                    alt="" id="cartPic"></a>
        </div>
        <div class="cartGrid">{{this.item.description}}</div>
        <div class="cartGrid">{{this.qty}}</div>
        <div class="cartGrid">CDN$ {{this.price}}</div>
        <div>
            <ul>
                <li><a href="/product/remove/{{this.item._id}}">Remove Item</a></li>
            </ul>
        </div>


    </div>
    {{/each}}

    <div class="row">
        <div class="cartrow">
            <strong>Total: {{totalPrice}} </strong>
        </div>
        <br>
        <form action="/product/place" method="POST" enctype="multipart/form-data">
            <input type="submit" value="Place your order" id="submitButton">
        </form>
    </div>
    <br><br>



    {{else}}

    <div id="div_Board">
        <div id="product-board-holder">
            <div id="shoppingCartPhoto">
                <a href="/product">
                    <img src="/images/empty.jpeg" alt=""><br>
                    No item in Cart <span>{{session.cart.totalQty}}</span>
                </a>
            </div>

            <div id="goshoppingPhoto">
                <a href="/product">
                    <img src="/images/shopping.jpeg" alt=""><br>
                    Lets go Shopping</a>
            </div>

        </div>
        <br>

    </div>
    {{/if}}

</div>