<h2>Update Product</h2>
<form method="POST" action="/product/update/{{_id}}?method=PUT" enctype="multipart/form-data">

    <label>Product Name</label>
    <input type="text" name="productName" id="productName" value="{{productName}}"> <br><br>

    <label>Price</label>
    <input type="text" name="price" id="price" value="{{price}}"> <br><br>

    <label>Description</label>
    <textarea id="description" name="description">{{description}}</textarea><br><br>

    <label>Category</label>
    <input type="text" name="category" id="category" value="{{category}}"> <br><br>

    <label>quantity</label>
    <input type="text" name="quantity" id="quantity" value="{{quantity}}"> <br><br>

    <label>bestSeller</label>
    <input type="text" name="bestSeller" id="bestSeller" value="{{bestSeller}}"> <br><br>

    <label>Product Photo</label>
    <input type="file" name="productPic" id="productPic"> <br><br>

    <input type="submit" value="Update Product">
</form>