<form method="POST" action="/list" enctype="multipart/form-data">
    <div id="productDetail">
        <div id="productGridLeft">
            <img src="/uploads/{{productPic}}" alt="" id="productPic">
        </div>

        <div id="productGridRight">
            <h2>{{productName}}</h2><br>
            <h4>Price: CDN${{price}}</h4><br>
            <h4>{{description}}</h4><br>
            <h4>{{category}}</h4><br>
            {{#if this.quantity}}
            <div>In Stock</div>
            {{else}}
            <div>Sold Out</div>
            {{/if}} <br>
            <input type="submit" value="Add to Cart" id="submitButton">
        </div>
    </div>
</form>