<div id="product-search">
    <div id="search-grid">
        <form method="POST" action="/product/search" enctype="multipart/form-data">
            <label>Search By </label>
            <select name="productSearch">
                <option value="all">All Products</option>
                <option value="Shoes">Shoes</option>
                <option value="Valentines">Valentines</option>
                <option value="Electronics">Electronics</option>
                <option value="AirpodCase">Airpod Case</option>
            </select>
            <input type="submit" value="Search" id="searchButton">
        </form>
    </div>
</div>

<br><br>

<div id="product">
    <div id="category">
        <nav id="category-bar">
            <ul>
                <li>Category</li><br>
                <li><a href='/product/shoes'>Shoes</a></li>
                <li><a href='/product/valentines'>Valentines</a></li>
                <li><a href='/product/electronics'>Electronics</a></li>
                <li><a href='/product/airpodcase'>Airpod</a></li>
            </ul>
        </nav>
    </div>
    <div id="product-grid">
        {{#each products}}
        {{#if this.category}}
        <div id="product-grid-item">
            {{!-- <div id="product-number">#{{productNum}}</div> --}}
            {{#if this.bestSeller}}
            <input type="button" value="BEST" id="best-button">
            {{/if}}
            <a href="/product/profile/{{this.id}}">
                <div id="product-image"><img src="/uploads/{{this.productPic}}"></div>
                <div id="product-title"><a href="#">{{this.productName}}</a></div>
            </a>

            {{#if this.discount}}
            <span id="product-price">CDN$</span> <span id="regular-price">{{this.price}}</span>
            <span id="product-price">{{this.discount}}</span>
            {{else}}
            <div id="product-price">CDN$ {{this.price}}</div>
            {{/if}}
            <div id="product-category">{{this.category}}</div>

        </div>
        {{/if}}
        {{/each}}
    </div>
</div>